<div id="reloadui_overlay" xmlns="http://www.w3.org/1999/html">
    <div id="reloadui_overlay_background"></div>
    <div id="reloadui_overlay_wrapper">
        <div class="container">
            <div class="hero-unit">
                <h1>{{ _('Por favor recarregue') }}</h1>
                <p>{{ _('Existe uma nova versao ativa, por favor recarregue. Isto não vai afetar impreeões em andamento.') }}</p>
                <p>
                    <a class="btn btn-primary btn-large" id="reloadui_overlay_reload">{{ _('Recarregar') }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
